
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #F2F2F2;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

.wrapper {
  display: block;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  display: block;
  width: 1060px;
  margin: 0 auto;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
}

.description {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  margin: 0;
}





.page-header {
  display: block;
  color: #000000;
}

.page-header-logo {
  display: block;
  margin-right: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-left {
  display: flex;
  flex-direction: row;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.navigation-item {
  display: block;
  margin: 0 16px;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.like-number {
  display: block;
}


.main-index {
  display: block;
}

.welcome {
  display: block;
  background-image: url('../images/index-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  display: block;
}


.info {
  display: block;
  color: #000000;
}

.info-advantages {
  display: block;
  padding: 69px 0;
}

.info-services {
  display: block;
  padding: 64px 0;
}

.info-search {
  display: block;
  padding: 96px 0;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
}

.info-description {
  display: block;
}

.info-button {
  display: block;
  margin-top: 54px;
}

.see-all {
  display: block;
}



.advantages {
  display: block;
}

.advantages-content {
  display: block;
}

.advantages-row {
  display: flex;
  flex-direction: row;
}

.advantages-col {
  display: block;
}

.advantages-small {
  display: block;
  width: 33.33%;
}

.advantages-big {
  display: block;
  width: 66.66%;
}

.advantages-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 85px;
  min-height: 385px;
}

.advantages-block-1 {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-block-2 {
  color: #000000;
  background-color: #f0f5f9;
}

.advantages-block-3 {
  color: #000000;
  background-color: #e6f0f6;
}

.advantages-block-4 {
  color: #000000;
  background-color: #f0f5f9;
}

.advantages-block-5 {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-photo {
  display: block;
}

.advantages-image {
  display: block;
}

.advantages-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.advantages-description {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}



.services {
  display: block;
}

.services-list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  width: 33.33%;
  padding: 81px 85px;
}

.services-item-1 {
  background-color: #f0f5f9;
}

.services-item-2 {
  background-color: #fff;
}

.services-item-3 {
  background-color: #f0f5f9;
}

.services-info {
  width: 230px;
}

.services-name {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.services-description {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
}



.subscribe {
  display: block;
  background-image: url('../images/subscribe-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 102px;
}

.subscribe-catalog {
  background: white;
  color: #000000;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subscribe-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  display: block;
  margin-bottom: 54px;
}

.subscribe-button {
  display: block;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.page-footer {
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #000000;
}

.page-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-network {
  display: block;
}

.social-network-list {
  display: block;
}

.social-network-item {
  display: block;
}

.social-network-link {
  display: block;
}



.contacts-phone {
  display: block;

}

.contacts-phone-link {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}




























































.main-catalog {
  display: block;
}

.breadcrumbs {
  display: block;
}

.breadcrumbs-item {
  display: block;
}

.breadcrumbs-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: white;
  text-decoration: none;
}

.breadcrumbs-icon {
  display: block;
}

.form {
  display: block;
  color: white;
  background-image: url('../images/filter-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 70px;
}

.form-content {
  display: block;
}

.form-header {
  display: block;
}

.form-title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;

}

.form-subtitle {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.form-inner {
  display: flex;
  flex-direction: row;
}

.form-column {
  display: block;
}

.form-infrastructure {
  margin-right: 70px;
}

.form-type {
  margin-right: 140px;
}

.form-cost {
  margin-right: 70px;
}

.form-list {
  padding: 0;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-toggler {
  display: block;
}

.form-checkbox {
  display: block;
}

.form-radio {
  display: block;
}

.form-text {
  display: block;
  margin-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 128%
}



.form-price {
  display: block;
}

.form-price-inputs {
  display: block;
}

.form-price-box {
  display: block;
}

.form-price-input {
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
}

.form-price-text {
  display: block;
}

.form-price-range {
  display: block;
}

.form-buttons {
  display: block;
}

.form-button {
  display: block;
}

.form-submit {
  display: block;
}

.form-reset {
  display: block;
}


.result {
  display: block;
  padding-top: 50px;
  padding-bottom: 60px;
  color: #000000;
}

.result-content {
  display: block;
}

.result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.result-select {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

.result-togglers {
  display: flex;
  flex-direction: row;
}

.result-toggler {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  border-radius: 4px;
  border: #e5e5e5;
}

.result-toggler-button {
  display: block;
}

.result-toggler-icon {
  display: block;
}


.cards {
  display: block;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0;
  margin-bottom: 0;
}

.cards-item {
  display: block;

}


.card {
  display: block;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
  color: #000000;
}

.card-image {
  display: block;
  margin-bottom: 16px;
}

.card-info {
  display: block;
}

.card-name {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

.card-hotel {
  display: block;
}

.card-price {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: right;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-button {
  display: block;
}

.card-more.card-more  {
  display: block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  flex-grow: 0;
}

.card-favorites.card-favorites {
  display: block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  flex-grow: 0;
  background-color: #82B3D3;
  color: #fff;
}

.card-favorites-active.card-favorites-active {
  background-color: #7DB54F;
}

.card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card-rating-text.card-rating-text {
  display: block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  flex-grow: 0;
  background-color: #F2F2F2;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.stars-list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.stars-item {
  display: block;
}

.stars-icon {
  display: block;
}


.pagination {
  display: block;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-empty {
  color: #000000;
  background-color: transparent;
}

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 34px;
  background-color: #756157;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
