
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #F2F2F2;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 34px;
  background-color: #756157;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button-blue {
  background-color: #82B3D3;
  color: white;
}

.button-transparent {
  background-color: transparent;
  color: white;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px 8px 50px;
}


.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  display: block;
  width: 1060px;
  margin: 0 auto;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0;
}

.description {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  margin: 0;
}





.page-header {
  display: block;
  color: #000000;
  position: relative;
  z-index: 20;
}

.page-header-logo {
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-left {
  display: flex;
  flex-direction: row;
}

.navigation-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
}



.navigation-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 16px;
  position: relative;
}

.navigation-item-active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.navigation-user .navigation-item {
  margin: 0 12px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.navigation-link-search {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/search.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation-link-like {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/heart.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation-order {
  margin-left: 20px;

}

.like-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  right: -8px;
  top: -11px;
}


.main-index {
  display: block;
}

.welcome {
  display: block;
  background-image: url('../images/index-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 51px;
  position: relative;
}

.welcome::after {
  display: block;
  content: "";
  height: 57px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url('../images/welcome-decor.svg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.welcome-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  display: block;
}


.info {
  display: block;
  color: #000000;
}

.info-advantages {
  display: block;
  padding: 69px 0;
}

.info-services {
  display: block;
  padding: 64px 0;
}

.info-search {
  display: block;
  padding: 96px 0;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-title {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
}

.info-description {
  display: block;
}

.info-button {
  display: block;
  margin-top: 54px;
}

.see-all {
  display: block;
}



.advantages {
  display: block;
}

.advantages-content {
  display: block;
}

.advantages-row {
  display: flex;
  flex-direction: row;
}

.advantages-col {
  display: block;
}

.advantages-small {
  display: block;
  width: 33.33%;
}

.advantages-big {
  display: block;
  width: 66.66%;
}

.advantages-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 85px;
  min-height: 385px;
}

.advantages-block-1 {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-block-1  .advantages-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-block-2 {
  color: #000000;
  background-color: #f0f5f9;
}

.advantages-block-3 {
  color: #000000;
  background-color: #e6f0f6;
}

.advantages-block-4 {
  color: #000000;
  background-color: #f0f5f9;
}

.advantages-block-5 {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-block-5  .advantages-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-photo {
  display: block;
}

.advantages-image {
  display: block;
}

.advantages-title {
  display: block;
  margin: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.advantages-title::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}



.services {
  display: block;
}

.services-list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  width: 33.33%;
  padding: 183px 81px 85px;
  position: relative;
}

.services-item::before {
  content: "";
  display: block;
  width: 82px;
  height: 78px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.services-item-1 {
  background-color: #f0f5f9;
}

.services-item-1::before {
  background-image: url('../images/home.svg');
}

.services-item-2 {
  background-color: #fff;
}

.services-item-2::before {
  background-image: url('../images/food.svg');
}

.services-item-3 {
  background-color: #f0f5f9;
}

.services-item-3::before {
  background-image: url('../images/souvenirs.svg');
}


.services-info {
  width: 230px;
}

.services-name {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
  margin: 0;
}



.subscribe {
  display: block;
  background-image: url('../images/subscribe-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 102px;
}

.subscribe-catalog {
  background: white;
  color: #000000;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
}

.subscribe-catalog .subscribe-input {
  background-color: #F2F2F2;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.subscribe-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  display: block;
  margin-bottom: 54px;
}

.subscribe-button {
  display: block;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  padding-left: 20px;
  font-size: 18px;
  border: none;
}


.page-footer {
  display: block;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #000000;
}

.page-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-network {
  display: block;
}

.social-network-list {
  display: flex;
  font-display: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-network-item {
  display: block;
}

.social-network-link {
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 48px;
  height: 40px;
}

.social-network-link-vk {
  background-image: url('../images/vk.svg');

}

.social-network-link-tg {
  background-image: url('../images/tg.svg');

}

.social-network-link-yt {
  background-image: url('../images/yt.svg');

}



.contacts-phone {
  display: block;

}

.contacts-phone-link {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}




























































.main-catalog {
  display: block;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item {

  padding: 0;
  margin: 0;
  padding-right: 18px;
  margin-right: 10px;
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  display: inline-flex;
  width: 8px;
  height: 100%;
  background-image: url('../images/arrow.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: white;
  text-decoration: none;
}

.breadcrumbs-icon {
  display: block;
  width: 13px;
  height: 13px;
  background-image: url('../images/icon_home.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.form {
  display: block;
  color: white;
  background-image: url('../images/filter-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 70px;
}

.form-content {
  display: block;
}

.form-header {
  display: block;
}

.form-title {
  display: block;
  margin-bottom: 8px;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;

}

.form-subtitle {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.form-inner {
  display: flex;
  flex-direction: row;
}

.form-column {
  display: block;
}

.form-infrastructure {
  margin-right: 70px;
}

.form-type {
  margin-right: 140px;
}

.form-cost {
  margin-right: 70px;
}

.form-list {
  padding: 0;
  margin-top: 32px;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.form-item:last-child {
  margin-bottom: 0;
}

.form-toggler {
  display: block;
}

.form-checkbox {
  display: none;
}

.form-checkbox:checked + .form-custom-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/selected.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.form-custom-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.form-radio {
  display: none;
}

.form-custom-radio {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.form-radio:checked + .form-custom-radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.form-text {
  display: block;
  margin-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 128%
}



.form-price {
  display: block;
  margin-top: 32px;
}

.form-price-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 288px;
}

.form-price-box {
  display: block;
  width: 143px;
  position: relative;
}

.form-price-input {
  display: block;
  height: 48px;
  width: 100%;
  padding-left: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  padding-right: 40px;
}

.form-price-input-from {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-price-input-to {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-price-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #a9a9a9;
  position: absolute;
  top: 12px;
  right: 20px;
}

.form-price-range {
  display: block;
  margin-top: 48px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-price-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
}

.form-price-toggler {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

.form-price-toggler-from {
  display: block;
  left: 0;
}

.form-price-toggler-to {
  display: block;
  right: 0;
}


.form-buttons {
  display: block;
  padding-top: 54px;
}

.form-button {
  display: block;
  width: 190px;
  margin-bottom: 32px;
}

.form-button:last-child {
  margin-bottom: 0;
}

.form-submit {
  display: block;
}

.form-reset {
  display: block;
}


.result {
  display: block;
  padding-top: 50px;
  padding-bottom: 60px;
  color: #000000;
}

.result-content {
  display: block;
}

.result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.result-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.result-select {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  width: 292px;
  border-radius: 4px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 62px;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 9px;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/arrow-down.svg');
    background-repeat: no-repeat;
  }
}

.result-togglers {
  display: flex;
  flex-direction: row;
}

.result-toggler {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 8px;
  cursor: pointer;
  background-color: #fff;
}

.result-toggler-network {
  background-image: url('../images/icon-1.svg');
}

.result-toggler-cards {
  background-image: url('../images/icon-2.svg');
}

.result-toggler-list {
  background-image: url('../images/icon-3.svg');
}

.result-toggler-active {
  border-color: #000;
}




.cards {
  display: block;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0;
  margin-bottom: 0;
}

.cards-item {
  display: block;

}


.card {
  display: block;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
  color: #000000;
}

.card-image {
  display: block;
  margin-bottom: 16px;
}

.card-info {
  display: block;
}

.card-name {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
}

.card-hotel {
  display: block;
}

.card-price {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: right;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-button {
  display: block;
}

.card-more.card-more  {
  display: block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  flex-grow: 0;
}

.card-favorites.card-favorites {
  display: block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  flex-grow: 0;
  background-color: #82B3D3;
  color: #fff;
}

.card-favorites-active.card-favorites-active {
  background-color: #7DB54F;
}

.card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card-rating-text.card-rating-text {
  display: block;
  width: 140px;
  padding-left: 0;
  padding-right: 0;
  flex-grow: 0;
  background-color: #F2F2F2;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.stars-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.stars-item {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url('../images/star.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.stars-item:last-child {
  margin-right: 0;
}


.pagination {
  display: block;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-empty {
  color: #000000;
  background-color: transparent;
}




.modals {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.modals-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  display: block;
  border-radius: 30px;
  padding: 64px 70px;
  width: 717px;
  background-color: #fff;
}

.modal-content {
  display: block;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.modal-close {
  display: block;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  background-image: url('../images/close.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-form {
  display: block;
}

.modal-row {
  display: block;
  margin-bottom: 48px;
}

.modal-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 137px;
  padding-right: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  position: relative;
}

.modal-box {
  display: block;
  flex-grow: 1;
  position: relative;
}

.modal-date-from  {
  display: block;
}

.modal-input {
  display: block;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  background-color: #F2F2F2;
  border: none;
}

.modal-input-count {
  text-align: center;
}

.modal-icon {
  display: block;
}

.modal-info {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  position: absolute;
  left: 20px;
  bottom: -25px;
  color: #333333;
}

.modal-error {
  color: #FF5757;
}

.modal-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-col {
  display: block;
  width: 245px;
}

.modal-button  {
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  cursor: pointer;
}

.modal-minus {
  display: block;
  left: 0;
  background-image: url('../images/minus.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-plus {
  display: block;
  right: 0;
  background-image: url('../images/plus.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-submit {
  width: 100%;
}

.modal-help {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url('../images/i.svg');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  margin-left: 10px;
}

.popover {
  display: block;
  position: absolute;
  top: 40px;
  left: -53px;
  background-color: #333333;
  border-radius: 10px;
  width: 256px;
  box-shadow: 0 15px 30px 0 rgba(51, 51, 51, 0.3);
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: white;
  text-align: left;
  z-index: 5;
  text-transform: none;

}


.popover::before {
  content: "";
  display: block;
  width: 19px;
  height: 9px;
  background-image: url('../images/popover.svg');
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-14px);
}
